@model ChurrasTrinca.Models.ChurrasDetailsModel

<div>
    <h4>Detalhes do churras</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorBebida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorBebida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorSemBebida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorSemBebida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Participantes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Participantes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorArrecadado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorArrecadado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bebem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bebem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NaoBebem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NaoBebem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Adicionar Participante", "Add", new { id = Model.Id }) |
    @Html.ActionLink("Lista de Participante", "ListaParticipante", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
